h1{
    color:red;
    padding-left: 30px;
    
}

body{
    background-color: thistle;
}

.heading{
    background-color: rgb(135, 241, 255) ;
    display:flex;
    justify-content: space-between ;
}

.grid{
    display:flex;
    flex-wrap: wrap;
    font-family: sans-serif;
}
.grid img{
    border:2px solid black;
    border-radius:50px;
}
.item{
    border-radius:20px;
    background-color: white;
    width: 310px;
    font-family: fantasy;
}
